---
import classes from "./footer.module.scss";

const getCurrentYear = new Date().getFullYear();
---

<footer class={classes["footer"]} role="contentinfo">
  <div class={classes["footer__container"]}>
    <div class={classes["flex"]}>
      <div class={classes["information"]}>
        <span>ООО «WeCraftIdeas»</span>
        <a href="tel:+1 202 0550 2233">+1 202 0550 2233</a>
        <a href="mailto:info@wci.com">info@wci.com</a>
        <span>©{getCurrentYear} wci</span>
      </div>

      <nav class={classes["nav"]}>
        <ul class={classes["nav__doc-list"]}>
          <li class={classes["nav__doc-list__item"]}>
            <a href="cookies">Политика использования файлов cookie</a>
          </li>
          <li class={classes["nav__doc-list__item"]}>
            <a href="legal">Юридические термины</a>
          </li>
          <li class={classes["nav__doc-list__item"]}>
            <a href="privacy-policy">Политика конфиденциальности</a>
          </li>
        </ul>

        <ul class={classes["nav__socials-list"]}>
          <li class={classes["nav__socials-list__item"]}>
            <a
              href="https://www.linkedin.com/"
              aria-label="Go to an account of WCI on LinkedIn"
              target="_blank"
              rel="noopener noreferrer">LinkedIn</a
            >
          </li>
          <li class={classes["nav__socials-list__item"]}>
            <a
              href="https://www.facebook.com/"
              aria-label="Go to an account of WCI on Facebook"
              target="_blank"
              rel="noopener noreferrer">Facebook</a
            >
          </li>
          <li class={classes["nav__socials-list__item"]}>
            <a
              href="https://www.instagram.com/"
              aria-label="Go to an account of WCI on Instagram"
              target="_blank"
              rel="noopener noreferrer">Instagram</a
            >
          </li>
          <li class={classes["nav__socials-list__item"]}>
            <a
              href="https://www.behance.net/"
              aria-label="Go to an account of WCI on Behance"
              target="_blank"
              rel="noopener noreferrer">Behance</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
