@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.footer {
  background-color: #fff;

  &__container {
    max-width: $desktop-width;
    margin: 0 auto;

    padding: 100px 20px;
  }

  &__nav {
    @include flex(row, space-between);

    &__list {
      display: flex;
      gap: 32px;

      &__item {
        & > a {
          color: $grey-color;
          // font-family: "SF Pro";
          font-size: 16px;
          font-weight: 510;
          line-height: 100%;
        }
      }
    }
  }
}
