@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.typographyModule {
  color: $grey-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
}

.footer {
  background-color: $black-main-color;

  &__container {
    max-width: $desktop-width;
    margin: 0 auto;

    padding: 100px 20px;

    @include media-mobile {
      padding: 50px 20px;
    }
  }

  a,
  span {
    // MARK:In order to pass ally
    // color: $grey-color;
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.information {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;

  & > span {
    &:last-of-type {
      margin-top: 24px;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;

  gap: 100px;

  @include media-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__doc-list {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;

    max-width: 580px;

    gap: 12px;

    &__item {
      display: flex;
      padding: 8px 12px;
    }
  }

  &__socials-list {
    &__item {
      display: flex;
      padding: 8px 12px;
    }
  }
}
