@import "../../styles/utilities/variables.scss";

.footer {
  background-color: #fff;

  &__container {
    max-width: $desktop-width;
    margin: 0 auto;

    padding: 0 20px;

    & > h1 {
      color: #fff;
    }
  }
}
