@import "./variables.scss";

@mixin flex($flex_direction: row, $justify_content: center, $align_items: center) {
  display: flex;
  flex-direction: $flex_direction;
  justify-content: $justify_content;
  align-items: $align_items;
}

@mixin media-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin media-custom($width) {
  @media (max-width: $width) {
    @content;
  }
}
