// Colors
$blue-main-color: #005ee0;
$black-main-color: #101010;
$secondary-black-color: #4c4c4c;
$grey-color: #8c8c8c;

// Width
// $desktop-width: 1140px;
$desktop-width: 1080px;
$tablet-width: 720px;
$mobile-width: 390px;

// Border-radius
$btn-border-radius-xl: 15px;
$card-border-radius: 16px;

// Hover
$btn-hover: #172b41;
$btn-active: #001228;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Media params
$mouse-device: "(hover: hover) and (pointer: fine)";
