@import "../utilities/mixins.scss";
@import "../utilities/variables.scss";

.image {
  @include media-mobile {
    width: 155px;
    height: auto;
  }
}

.container-notFound {
  @include flex();

  background-color: $blue-main-color;

  overflow: hidden;
  height: 100vh;

  @include media-mobile {
    height: 100vh;
  }
}

.outer-circle {
  @include flex();

  width: 1072px;
  height: 1072px;
  border-radius: 50%;
  background: rgba(9, 101, 227, 0.5);
}

.inner-circle {
  @include flex(column);

  width: 726px;
  height: 726px;
  border-radius: 50%;
  background: rgba(9, 104, 235, 0.6);
  text-align: center;

  & > div {
    padding: 0 20px;

    &:first-child {
      @include flex();

      & > span {
        font-size: 376.41px;
        font-weight: 110;
        text-transform: uppercase;
        color: #fff;

        @include media-mobile {
          font-size: 155px;
        }
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      & > p {
        color: #fff;
        font-size: 48px;
        line-height: 130%;

        @include media-mobile {
          font-size: 24px;
        }
      }

      & > button {
        width: fit-content;
        padding: 4px 8px;

        background-color: transparent;
        color: #fff;
        font-size: 18px;
        font-weight: 110;
        line-height: 130%; /* 23.4px */
        text-decoration-line: underline;

        cursor: pointer;

        &:focus-visible {
          outline: 2px solid #fff;
          text-decoration-line: none;

          border-radius: 15px;
        }
      }
    }
  }
}
