@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.header {
  background-color: $blue-main-color;

  &__container {
    @include flex(row, space-between, center);

    max-width: $desktop-width;
    margin: 0 auto;
    padding: 100px 20px;
  }

  &__btn-groups {
    display: flex;
    gap: 32px;
  }
}

.language-switcher {
  display: flex;
  flex-direction: row;

  width: 119px;
  height: 60px;

  border-radius: $btn-border-radius-xl;
  border: 1px solid #fff;

  padding: 4px;

  &__switcher {
    display: grid;
    place-content: center;

    width: 100%;
    height: 100%;

    border-radius: inherit;
    background-color: transparent;
    color: #fff;

    font-size: 18px;
    font-weight: 700;
    font-family: "Inter Variable", sans-serif;

    &-active {
      background-color: #fff;
      color: $blue-main-color;
    }
  }
}

.about {
  &__container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 100px 20px;
  }

  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 130%; /* 78px */
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;

    gap: 24px;

    & > p {
      font-family: "Inter Variable", sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }
}

.banner {
  background-color: $blue-main-color;

  &__container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 60px 0;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }
}

.team {
  &__container {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 130%; /* 78px */
    text-transform: uppercase;

    margin: 0;
    padding: 0;
  }
}

.wrapper {
  width: 100%;

  margin-bottom: 100px;
}

.carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
  }

  &__list {
    display: grid;
    grid-gap: 32px;
    grid-auto-flow: column;
    box-sizing: border-box;

    max-width: $desktop-width;
    margin: 0 auto; // Starts with-left margin

    &__item {
      & > figure {
        display: flex;
        flex-direction: column;

        gap: 24px;

        width: auto;
        height: auto;

        margin: 0;
        padding: 0;

        & > img {
          width: 500px;
          height: 370px;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & > span {
          &:first-child {
            // MARK: CHANGED STYLING
            // font-size: 24px;
            font-weight: 600;
            line-height: 130%;
            font-size: 28px;
            color: #000;
          }

          &:last-child {
            font-family: "Inter variable", sans-serif;
            // font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            font-size: 20px;
            color: #a6a4ac;
            color: #4c4c4c;
          }
        }
      }
    }
  }
}

.carousel-btns {
  @include flex();
  gap: 8px;

  & > button {
    @include flex();

    background-color: transparent;
    width: 48px;
    height: 48px;

    cursor: pointer;

    &:hover {
      background-color: #efefef;
      border-radius: 50%;
      border: none;
      border-radius: 50%;
    }
  }
}

.flex {
  @include flex(row, space-between);

  margin-top: 100px;
  margin-bottom: 50px;
}
