// Colors
$bg-color: #f6f6f9;
$primary-color: #0b1f35;
$secondary-color: rgba(11, 31, 53, 0.3);

// Border-radius
$card-border-radius: 16px;
$input-border-radius: 14px;
$btn-border-radius: 12px;

// Height
$input-height: 46px;
$btn-height: 40px;
$header-height: 95px;

// Width
$sidebar-width: 240px;
$dialog-width: 295px;

// Opacity on hover
$opacity-6: 0.6;
$opacity-9: 0.9;

// Hover
$btn-hover: #172b41;
$btn-active: #001228;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Media params
$mouse-device: "(hover: hover) and (pointer: fine)";
