---
import { changeLanguage } from "i18next";
import classes from "../notFound.module.scss";
import Layout from "@layouts/Layout.astro";
import icon from "@assets/icons/404_icon.svg";
import { Image } from "astro:assets";

changeLanguage("en");
---

<Layout title="Page Not Found | WCI">
  <section class={classes["container-notFound"]} role="alert">
    <div class={classes["outer-circle"]} id="imageContainer">
      <div class={classes["inner-circle"]}>
        <div>
          <span>4</span>
          <Image src={icon} alt="3D icon of zero" loading="eager" decoding="async" />
          <span>4</span>
        </div>
        <div>
          <p>Oops! Page not found</p>
          <button id="goBack" type="button" aria-label="Go Back to Previous Page">Go back!</button>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  const goBackBtn = document.getElementById("goBack");

  goBackBtn?.addEventListener("click", () => {
    history.back();
  });

  const imageContainer = document.getElementById("imageContainer");
  const image = imageContainer?.querySelector("img");

  const handleMouseMove = (event: MouseEvent) => {
    if (!imageContainer || !image) return;

    const containerRect = imageContainer.getBoundingClientRect();
    const centerX = containerRect.left + containerRect.width / 2;
    const centerY = containerRect.top + containerRect.height / 2;

    const movementRange = 30;

    const offsetX = ((event.clientX - centerX) / containerRect.width) * movementRange;
    const offsetY = ((event.clientY - centerY) / containerRect.height) * movementRange;

    image.style.transform = `translate(${offsetX}px, ${offsetY}px)`;
  };

  imageContainer?.addEventListener("mousemove", handleMouseMove);
</script>
