---
import Layout from "@layouts/Layout.astro";
import "@styles/index.scss";
import Footer from "@widgets/footer/Footer.astro";
import Header from "@widgets/header/Header.astro";
import Hero from "@widgets/hero/Hero.astro";
import Services from "@widgets/services/Services.astro";
import { changeLanguage } from "i18next";
import "virtual:fonts.css";
import "../styles.scss";

changeLanguage("en");
---

<Layout title="Welcome to Astro.">
  <Header />
  <!-- <LanguageSelector /> -->
  <main>
    <Hero />
    <Services />
  </main>
  <!-- <Card client:visible /> -->
  <Footer />
</Layout>
