---
import Footer from "@components/sections/footer/footer.astro";
import Header from "@components/sections/header/header.astro";
import Layout from "@layouts/Layout.astro";
import "@styles/index.scss";
import { changeLanguage, t } from "i18next";
import "virtual:fonts.css";
import Card from "../../components/Card";
import "../styles.scss";

changeLanguage("en");
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <section class="hero">
      <div class="hero__container">
        <h1>Решения для IT-аутсорсинга.</h1>
        <p>Максимальная эффективность вашего IT-бизнеса с нашими услугами аутсорсинга и аутстаффинга</p>
        <button>Заказать услугу</button>
      </div>
    </section>
  </main>
  <h1>{t("menu")}</h1>
  <Card client:visible />
  <Footer />
</Layout>
