---
import Layout from "@layouts/Layout.astro";
import ContactUsBanner from "@shared/contactUsBanner/ContactUsBanner.astro";
import "@styles/index.scss";
import ContactUs from "@widgets/contactUs/ContactUs";
import Features from "@widgets/features/Features.astro";
import Header from "@widgets/header/Header.astro";
import Hero from "@widgets/hero/Hero.astro";
import Services from "@widgets/services/Services.astro";
import Technologies from "@widgets/technologies/Technologies.astro";
import { changeLanguage } from "i18next";
import "../styles.scss";

changeLanguage("en");
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <Hero />
    <Features />
    <Services />
    <Technologies />
    <ContactUsBanner />
    <ContactUs client:load />
  </main>
  <!-- <Footer /> -->
</Layout>
