---
import menuWhite from "@assets/icons/menu_white.svg";
import logo from "@assets/icons/wci.svg";
import { Image } from "astro:assets";
import { t } from "i18next";
import styles from "./header.module.scss";
---

<header class={styles["header"]}>
  <div class={styles["header__container"]}>
    <Image class={styles["header__image"]} src={logo} alt="logo/" loading="eager" decoding="async" />
    <div class={styles["header__btns"]}>
      <div class={styles["switcher"]}>
        <button>
          <!-- <a data-astro-prefetch="hover" href="/en"></a> -->
          ENG
        </button>
        <button>RU</button>
      </div>
      <div class={styles["menu"]}>
        <button class={styles["menu__btn"]}>
          <span>
            {t("menu")}
          </span>
          <Image src={menuWhite} alt="menu" />
        </button>
      </div>
    </div>
  </div>
</header>
