---
import logo from "@assets/icons/wci.svg";
import { Image } from "astro:assets";
import "./header.scss";
import Menu from "@shared/Header/Menu";
---

<header class="header">
  <div class="header__container">
    <Image class="header__image" src={logo} alt="Website Name Logo" loading="eager" decoding="async" />
    <div class="header__btns">
      <div class="switcher">
        <a data-astro-prefetch="hover" href="/en" aria-label="English">ENG</a>
        <a data-astro-prefetch="hover" href="/" aria-label="Russian"> RU</a>
      </div>
      <div class="menu">
        <Menu client:visible />
      </div>
      <!-- <div class={styles["menu"]}>
        <button class={styles["menu__btn"]}>
          <span>
            {t("menu")}
          </span>
          <Image src={menuWhite} alt="menu" />
        </button>
      </div> -->
    </div>
  </div>
</header>

<script></script>
