@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.contactUs {
  background-color: $black-main-color;

  &__container {
    display: flex;
    flex-direction: column;

    max-width: $desktop-width;

    padding: 100px 20px;
    margin: 0 auto;
  }
}

.title-block {
  display: flex;
  flex-direction: row;

  margin-bottom: 24px;

  & > h1 {
    color: #fff;

    font-size: 134px;
    font-weight: 400;
    line-height: 130%; /* 174.2px */
    text-transform: uppercase;

    margin: 0;
    padding: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    width: 762px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    height: 50px;
    color: #fff;
    font-size: 36px;

    &::placeholder {
      color: #484848;
      font-family: Inter;
      font-size: 36px;
      font-weight: 300;
      line-height: 130%; /* 46.8px */
      text-transform: uppercase;
    }
  }

  &__submitBtn {
    width: 100%;
    max-width: 333px;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    padding: 24px 50px;
    margin-top: 44px;

    border-radius: $btn-border-radius-xl;
    background-color: transparent;
    border: 1px solid #fff;

    color: #fff;

    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $black-main-color;

      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &__errorMsg {
    height: 44px;
    color: #fd4c4f;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  overflow: hidden;
}
