@import "../../styles/utilities/mixins.scss";
@import "../../styles/utilities/variables.scss";

.banner {
  background-color: $blue-main-color;
  padding: 76px 20px;
  color: #fff;

  @include media-tablet {
    padding: 50px 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    max-width: $desktop-width;

    padding: 0 20px;
    margin: 0 auto;
  }
}

.flex {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 72px;

  @include media-tablet {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @include media-laptop {
    display: flex;
    flex-direction: column;
  }
}

.banner-block {
  &__left-side {
    & > h1 {
      font-size: 48px;
      font-weight: 500;
      line-height: 130%; /* 62.4px */
      letter-spacing: 0.32px;
      text-transform: uppercase;

      margin: 0;

      @include media-tablet {
        font-size: 28px;
        text-align: center;
      }
    }
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    @include media-laptop {
      margin: 0 auto;
    }

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 8px;

      width: 300px;
      height: 84px;

      background-color: #fff;
      padding: 24px 12px;
      border-radius: $btn-border-radius-xl;

      cursor: pointer;

      & > span {
        color: $black-main-color;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 130%;

        font-family: "Geologica Variable", sans-serif;
      }
    }
  }
}

.shimmer {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: -115%;
    left: -200%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(1deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:active:after {
    opacity: 0;
  }
}

.banner:hover .shimmer:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 3s, 3.5s, 0.15s;
  transition-timing-function: ease;
}
