---
import telegram_icon from "@assets/icons/telegram.svg";
import { Image } from "astro:assets";
import clsx from "clsx";
import classes from "./banner.module.scss";
---

<section class={classes["banner"]}>
  <div class={classes["banner__container"]}>
    <div class={clsx(classes["flex"], classes["banner-block"])}>
      <div class={classes["banner-block__left-side"]}>
        <h1>Мы создаем пакеты на заказ для достижения ваших целей</h1>
      </div>
      <div class={classes["banner-block__right-side"]}>
        <a
          href="https://t.me/maverick2502"
          aria-label="Go to an account of WCI on Telegram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Image width={48} height={48} src={telegram_icon} alt="Contact us on Telegram" />
          <span>Напиcать</span>
        </a>
      </div>
    </div>
  </div>
</section>
