---
import Layout from "@layouts/Layout.astro";
import Header from "@components/sections/header/header.astro";
import Footer from "@components/sections/footer/footer.astro";
import "@styles/index.scss";
import "./styles.scss";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <section class="hero">
      <div class="hero__container">
        <h1>MAIN</h1>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
