---
import Layout from "@layouts/Layout.astro";
import "@styles/index.scss";
import logo from "@assets/images/wci.svg";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      <header>
        <Image src={logo} alt="logo" />

        <div>TEST</div>
      </header>
    </section>
  </main>
</Layout>
