---
import Layout from "@layouts/Layout.astro";
import "@styles/index.scss";
import Features from "@widgets/features/Features.astro";
import Footer from "@widgets/footer/Footer.astro";
import Header from "@widgets/header/Header.astro";
import Hero from "@widgets/hero/Hero.astro";
import Services from "@widgets/services/Services.astro";
import ContactUs from "@widgets/contactUs/ContactUs.astro";
import { changeLanguage } from "i18next";
import "./styles.scss";

changeLanguage("ru");
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <Hero />
    <Services />
    <Features />
    <ContactUs />
  </main>
  <Footer />
</Layout>
