---
import Layout from "@layouts/Layout.astro";
import ContactUsBanner from "@shared/contactUsBanner/ContactUsBanner.astro";
import ContactUs from "@widgets/contactUs/ContactUs";
import Features from "@widgets/features/Features.astro";
import Header from "@widgets/header/Header.astro";
import Hero from "@widgets/hero/Hero.astro";
import Services from "@widgets/services/Services.astro";
import Technologies from "@widgets/technologies/Technologies.astro";
import { changeLanguage } from "i18next";
import Footer from "@widgets/footer/Footer.astro";
import classes from "@styles/pages/index.module.scss";

changeLanguage("ru");
---

<Layout title="We craft ideas | WCI">
  <Header />
  <main class={classes["container"]}>
    <Hero />
    <Features />
    <Services />
    <Technologies />
    <ContactUsBanner />
    <ContactUs client:load />
  </main>
  <Footer />
</Layout>
