---
import Layout from "@layouts/Layout.astro";
import "@styles/index.scss";
import "./styles.scss";
import { Image } from "astro:assets";
import logo from "@assets/icons/wci.svg";
---

<Layout title="Welcome to Astro.">
  <header class="header">
    <div class="header__container">
      <Image src={logo} alt="logo/" loading="eager" decoding="async" />

      <div class="header__btns">
        <div class="switcher">
          <button>ENG</button>
          <button>RU</button>
        </div>
        <div class="menu">
          <button class="menu__btn">Menu</button>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="hero">
      <div class="hero__container">sd</div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <h1>FOOTER</h1>
    </div>
  </footer>
</Layout>
