@import "../styles/utilities/variables.scss";
@import "../styles/utilities/mixins.scss";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  flex-grow: 1;
}

.header {
  background-color: $blue-main-color;
  padding-top: 100px;

  &__container {
    @include flex(row, space-between);

    max-width: $desktop-width;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.language-switcher {
  width: 120px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid #fff;
  padding: 3px;

  &__languages {
    display: flex;
    height: 100%;

    & > li {
      display: flex;
      justify-content: center;
      border-radius: 15px;
      align-items: center;
      width: 100%;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      color: #fff;
      cursor: pointer;

      &:first-child {
        background-color: #fff;
        color: $blue-main-color;
      }
    }
  }
}

.menu-toggle {
  width: 138px;
  height: 60px;
  border-radius: 15px;
  background-color: #fff;

  display: flex;
  justify-content: center;

  &__btn {
    background-color: transparent;
    color: $black-main-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
}

.hero {
  background-color: $blue-main-color;
  background-blend-mode: soft-light;

  &__container {
    max-width: $desktop-width;
    margin: 0 auto;
    background-color: $blue-main-color;
    background-blend-mode: soft-light;
  }
}
