@import "../styles/utilities/variables.scss";
@import "../styles/utilities/mixins.scss";

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main > *:not(:last-of-type):not(:nth-last-of-type(1)) {
  margin-bottom: 200px;
}

main > :last-of-type,
main > :nth-last-of-type(1) {
  margin-bottom: 0;
}
