@import "../../../styles/utilities/variables.scss";
@import "../../../styles/utilities/mixins.scss";

.accordion {
  width: 100%;

  &__item {
    &__header {
      @include flex(row, space-between, center);

      width: 100%;

      background-color: #fff;
      color: #454545;
      font-size: 34px;
      font-weight: 500;
      line-height: 130%; /* 44.2px */
      text-transform: uppercase;
      position: relative;
      cursor: pointer;

      font-family: "Geologica Variable", sans-serif;

      margin: 22px 0px;

      &::after {
        content: url("../../../assets/icons/plus.svg");

        @include flex();
      }
    }

    &__header.active::after {
      content: url("../../../assets/icons/minus.svg");
    }

    &__body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      &__content {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        font-family: "Geologica Variable", sans-serif;

        padding: 0 12px;
      }
    }
  }
}
