@import "../../../styles/utilities/variables.scss";
@import "../../../styles/utilities/mixins.scss";

.accordion {
  width: 100%;

  &__item {
    :focus-visible {
      outline: 2px solid #454545;
      border-radius: $card-border-radius;
    }

    &__header {
      @include flex(row, space-between, center);

      width: 100%;

      background-color: #fff;

      cursor: pointer;

      @include media-mobile {
        display: flex;
      }

      & > h1 {
        color: #454545;
        font-size: 34px;
        font-weight: 500;
        line-height: 130%; /* 44.2px */
        text-transform: uppercase;
        cursor: pointer;

        font-family: "Geologica Variable", sans-serif;

        margin: 22px 0px;

        @include media-mobile {
          font-size: 20px;
        }
      }
    }

    &__body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;

      &__content {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        font-family: "Geologica Variable", sans-serif;

        padding: 0 12px;

        @include media-mobile {
          font-size: 14px;
        }
      }
    }
  }
}
