@import "../../../styles/utilities/mixins.scss";

.menu-nav {
  @include flex(column, space-between, flex-start);

  padding: 126px 40px 38px 40px;

  height: 100%;

  &__list {
    display: flex;
    flex-direction: column;

    gap: 36px;

    a {
      // font-family: "SF Pro";
      font-size: 36px;
      font-weight: 590;
      line-height: 100%;

      color: #4c4c4c;
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    a {
      font-size: 16px;
      font-weight: 510;
      color: #8c8c8c;
    }
  }
}
