@import "../../../styles/utilities/mixins.scss";
@import "../../../styles/utilities/variables.scss";

.menu-nav {
  @include flex(column, space-between, flex-start);

  padding: 126px 40px 38px 40px;

  height: 100%;

  @include media-mobile {
    padding: 70px 20px;

    gap: 40px;
  }

  width: 460px;
  height: 560px;

  @include media-mobile {
    width: 300px;
    height: 320px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    gap: 36px;

    @include media-mobile {
      gap: 20px;
    }

    & > li {
      position: relative;
      transition: margin-left 0.4s ease-in-out;

      :focus-visible {
        outline: 2px solid #454545;
        border-radius: $card-border-radius;
      }

      // Prevent hover on touch devices
      @media ($mouse-device) {
        @include media-custom-min($breakpoint-tablet-horizontal) {
          &::before {
            content: url("../../../assets/icons/ellipsis.svg");
            position: absolute;
            left: -20px;
            top: 25%;
            opacity: 0;
            width: 25px;
          }

          &:hover {
            transition: margin-left 0.4s ease-in-out;
            margin-left: 20px;

            &::before {
              opacity: 1;
              transition: opacity 0.4s ease-in-out 0.25ms;
            }
          }
        }
      }

      a {
        font-size: 36px;
        font-weight: 590;
        line-height: 100%;

        color: #4c4c4c;

        &:hover {
          color: $black-main-color;
        }

        @include media-mobile {
          // font-size: 20px;
          font-size: 28px;
        }
      }
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & > li {
      :focus-visible {
        outline: 2px solid #454545;
        border-radius: $card-border-radius;
      }

      a {
        font-size: 16px;
        font-weight: 510;
        color: #8c8c8c;

        &:hover {
          color: $black-main-color;
        }

        @include media-mobile {
          font-size: 14px;
        }
      }
    }
  }
}
