---
import wciim from "@assets/images/wci_hero.png";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import { t } from "i18next";
import "./hero.scss";
---

<section class="hero" role="banner">
  <Image class="hero__image" src={wciim} alt="Logo" loading="eager" decoding="async" />
  <div class="hero__container">
    <div transition:animate={fade({ duration: "1s" })} class="hero__content">
      <h1>
        {t("hero.headerFirstLine")}
      </h1>
      <h1>
        {t("hero.headerSecondLine")}
      </h1>

      <p>
        {t("hero.paragraph")}
      </p>

      <button>
        {t("hero.button")}
      </button>
    </div>
  </div>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const heroImage = document.querySelector(".hero__image") as HTMLElement;
    function updateParallax() {
      const scrollY = window.scrollY;
      const bgPos = -scrollY * 0.3;
      heroImage.style.transform = `translateY(${bgPos}px)`;

      requestAnimationFrame(updateParallax); // Recursive for continuous updates
    }

    requestAnimationFrame(updateParallax); // Start the animation loop
  });
</script>
