---
import { t } from "i18next";
import styles from "./hero.module.scss";
---

<section class={styles["hero"]}>
  <div class={styles["hero__container"]}>
    <!-- <Image class={styles["hero__image"]} src={wciim} alt="logo/" loading="eager" decoding="async" /> -->
    <div>
      <h1>
        {t("hero.headerFirstLine")}
        <br />
        {t("hero.headerSecondLine")}
      </h1>
      <p>
        {t("hero.paragraph")}
      </p>
      <button>
        {t("hero.button")}
      </button>
    </div>
  </div>
</section>
