---
import wciim from "@assets/images/wci_hero.webp";
import { Image } from "astro:assets";
import { slide } from "astro:transitions";
import { t } from "i18next";
import classes from "./hero.module.scss";
import clsx from "clsx";
---

<section class={classes["hero"]} role="banner">
  <div class={classes["hero__container"]}>
    <Image
      width={wciim.width}
      height={wciim.height}
      id="hero__image"
      class={classes["hero__image"]}
      src={wciim}
      alt="Logo for WCI"
      loading="eager"
      decoding="async"
      format="webp"
    />

    <div transition:animate={slide({ duration: "1.2s" })} class={classes["hero__content"]}>
      <h1>
        {t("hero.headerFirstLine")}
        {t("hero.headerSecondLine")}
      </h1>

      <p>
        {t("hero.paragraph")}
      </p>

      <div>
        <a class={clsx(classes["shimmer"], classes["btn-hero"])} href="#contact">
          <span>{t("hero.button")}</span>
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const heroImage = document.querySelector("#hero__image") as HTMLElement;
    function updateParallax() {
      const scrollY = window.scrollY;
      const bgPos = -scrollY * 0.3;
      heroImage.style.transform = `translateY(${bgPos}px)`;

      requestAnimationFrame(updateParallax); // Recursive for continuous updates
    }

    requestAnimationFrame(updateParallax); // Start the animation loop
  });
</script>
