@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.hero {
  background-color: $blue-main-color;

  &__container {
    position: relative;
    min-height: calc(100vh - 260px);

    @include flex(column, center, flex-start);

    max-width: $desktop-width;
    margin: 0 auto;

    padding: 0 20px;
    padding-bottom: 50px;

    @include media-mobile {
      padding-bottom: 0px;
    }
  }

  &__image {
    position: absolute;
    object-fit: contain;
    opacity: 0.7;
    z-index: 0;

    width: 1300px;
    height: auto;

    left: -100px;

    overflow: hidden;

    @include media-mobile {
      display: none;
    }

    @include media-tablet {
      width: auto;
      height: 100%;
    }
  }

  &__content {
    z-index: 1;

    @include media-mobile {
      display: flex;
      flex-direction: column;
      gap: 16px;

      text-align: center;
    }

    & > h1 {
      color: #fff;
      font-size: 110px;
      font-weight: 700;
      line-height: 130%; /* 143px */
      text-transform: uppercase;
      font-family: "Geologica Variable", sans-serif;

      margin: 0;
      padding: 0;

      word-spacing: 10px;

      @include media-mobile {
        font-size: 44px;
        word-spacing: 0px;
      }

      @include media-laptop {
        font-size: 80px;
      }
    }

    & > p {
      color: #fff;
      font-size: 32px;
      font-weight: 400;
      line-height: 130%; /* 41.6px */
      font-family: "Inter Variable", sans-serif;

      max-width: 790px;
      margin: 0 0 64px 0;

      @include media-mobile {
        font-size: 14px;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }

  &__btn {
    padding: 24px 0px;

    max-width: 290px;
    width: 100%;

    border-radius: $btn-border-radius-xl;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    font-family: "Geologica Variable", sans-serif;
    color: $black-main-color;

    background-color: #fff;

    cursor: pointer;

    margin-bottom: 50px;

    @include media-mobile {
      padding: 20px;
      font-size: 14px;

      max-width: 160px;
      width: 100%;
    }
  }
}

.hero__btn {
  position: relative;
  overflow: hidden;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    top: -115%;
    left: -200%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(1deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:active:after {
    opacity: 0;
  }
}

.hero:hover .hero__btn:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 3s, 3.5s, 0.15s;
  transition-timing-function: ease;
}
