@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.technologies {
  background-color: #fff;

  &__container {
    display: flex;
    flex-direction: column;

    max-width: $desktop-width;

    padding: 0 20px;
    margin: 0 auto;
  }
}

.technologies-block {
  &__list {
    &__item {
      display: flex;

      padding: 68px 0;

      border-top: 1px solid #000;

      @include media-mobile {
        display: flex;
        flex-direction: column;

        gap: 16px;
      }

      &:last-child {
        padding: 68px 0;
        border-bottom: 1px solid #000;
      }

      &__left {
        display: flex;
        gap: 16px;

        width: 50%;

        @include media-mobile {
          width: 100%;
        }

        & > span {
          margin-top: 8px;
          color: #4c4c4c;

          font-family: "Inter Variable", sans-serif;
          font-size: 32px;
          font-weight: 400;
          line-height: 130%;
        }

        & > div {
          & > ul {
            display: flex;
            flex-wrap: wrap;

            max-width: 250px;
            gap: 8px;

            margin-top: 16px;

            @include media-mobile {
              max-width: 100%;
            }

            & > li {
              background-color: $blue-main-color;
              border-radius: 5px;
              color: #fff;
              padding: 4px 9px;
            }
          }

          & > p {
            color: $blue-main-color;
            font-size: 48px;
            font-weight: 500;
            letter-spacing: 0.32px;
            text-transform: uppercase;
          }
        }
      }

      &__right {
        display: flex;
        width: 50%;

        @include media-mobile {
          width: 100%;
        }

        & > ul {
          display: flex;
          flex-direction: column;

          @include media-mobile {
            margin-left: 55px;
          }

          & > li {
            color: $grey-color;
            font-size: 24px;
            font-weight: 600;
            line-height: 130%;
            font-family: "Inter Variable", sans-serif;

            @include media-mobile {
              width: 100%;
              font-size: 18px;
              font-weight: 400;
              line-height: 130%;
            }
          }
        }
      }
    }
  }
}
