---
import ParallaxText from "@shared/parallaxText/components";
import classes from "./technologies.module.scss";
---

<section class={classes["technologies"]}>
  <ParallaxText client:load headerTitle="Технологии" />
  <div class={classes["technologies__container"]}>
    <div class={classes["technologies-block"]}>
      <ul class={classes["technologies-block__list"]}>
        <li class={classes["technologies-block__list__item"]}>
          <div class={classes["technologies-block__list__item__left"]}>
            <span>01</span>
            <div>
              <p>Backend</p>
              <ul>
                <li>Go</li>
                <li>Python</li>
                <li>Java</li>
                <li>C#</li>
                <li>Nodejs</li>
              </ul>
            </div>
          </div>

          <div class={classes["technologies-block__list__item__right"]}>
            <ul>
              <li>
                <span>Проектирование архитектуры</span>
              </li>
              <li>
                <span>Разработка серверной части приложений</span>
              </li>
              <li>
                <span>Интеграция с внешними сервисами</span>
              </li>
            </ul>
          </div>
        </li>

        <li class={classes["technologies-block__list__item"]}>
          <div class={classes["technologies-block__list__item__left"]}>
            <span>02</span>
            <div>
              <p>Frontend</p>
              <ul>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Nodejs</li>
                <li>React</li>
                <li>Astrojs</li>
                <li>Nextjs</li>
              </ul>
            </div>
          </div>

          <div class={classes["technologies-block__list__item__right"]}>
            <ul>
              <li>
                <span>Разработка на базе фреймворков</span>
              </li>
              <li>
                <span>Адаптивная верстка</span>
              </li>
              <li>
                <span>Кросс-браузерная верстка</span>
              </li>
            </ul>
          </div>
        </li>

        <li class={classes["technologies-block__list__item"]}>
          <div class={classes["technologies-block__list__item__left"]}>
            <span>03</span>
            <div>
              <p>Mobile</p>
              <ul>
                <li>Kotlin</li>
                <li>Switft</li>
                <li>Flutter</li>
              </ul>
            </div>
          </div>

          <div class={classes["technologies-block__list__item__right"]}>
            <ul>
              <li>
                <span>Разработка нативных приложений</span>
              </li>
              <li>
                <span>Разработка кроссплатформенных приложений</span>
              </li>
              <li>
                <span>Проектирование архитектуры</span>
              </li>
              <li>
                <span>Аудит текущего состояния</span>
              </li>
              <li>
                <span>Доработка приложений</span>
              </li>
            </ul>
          </div>
        </li>

        <li class={classes["technologies-block__list__item"]}>
          <div class={classes["technologies-block__list__item__left"]}>
            <span>04</span>
            <div>
              <p>QA</p>
              <ul>
                <li>Postman</li>
                <li>SQL</li>
                <li>Selenium</li>
                <li>Junit</li>
                <li>Pytest</li>
                <li>Jmeter</li>
              </ul>
            </div>
          </div>

          <div class={classes["technologies-block__list__item__right"]}>
            <ul>
              <li>
                <span>Мануальное тестирование</span>
              </li>
              <li>
                <span>Автоматизированное тестирование</span>
              </li>
              <li>
                <span>Нагрузочное тестирование</span>
              </li>
              <li>
                <span>QA-консалтинг</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
