---
import "@fontsource-variable/geologica";
import "@fontsource-variable/inter";
import { HeadHrefLangs } from "astro-i18next/components";
import { ViewTransitions } from "astro:transitions";
import i18next from "i18next";
import "../styles/index.scss";
import Meta from "./Meta.astro";
import { SITE } from "utils/constants";

interface Props {
  title: string;
  structuredData?: object;
  meta?: string;
}

const { title = SITE.title, meta, structuredData } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <!-- Meta data -->
    <Meta meta={meta} structuredData={structuredData} />
    <HeadHrefLangs />
    <ViewTransitions fallback="swap" />
    <title>{title}</title>
    <script is:inline src="/scripts/vendor/lenis.js"></script>
    <script is:inline src="/scripts/vendor/lenis-setup.js"></script>
    <script is:inline src="./scripts/custom/update-favicon.js"></script>
  </head>
  <body>
    <slot />
    <style>
      /* CSS rules for the page scrollbar and scrolling experience with lenis library */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      html.lenis {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }
    </style>
  </body>
</html>
