---
import InfiniteMovingText from "@shared/InfiniteMovingText/InfiniteMovingText.astro";
import styles from "./services.module.scss";
import { CustomAccordion } from "./Accordion";
---

<section class={styles["services"]}>
  <div class={styles["services__container"]}>
    <InfiniteMovingText headerText="Наши услуги" />
    <CustomAccordion client:visible />
  </div>
</section>
