---
import "./services.scss";
import Accordion from "./Accordion";
---

<section class="services">
  <div class="services__container">
    <div class="services__container-title">
      <h1>Наши услуги</h1>
    </div>

    <Accordion client:visible />

    <!-- <div class="accordion">
      <div class="accordion__item">
        <button
          id="heading-1"
          aria-controls="collapse-1"
          aria-expanded="false"
          aria-label="Toggle IT-аутсорсинг"
          role="button"
          class="accordion__item__header"
        >
          IT-аутсорсинг
        </button>
        <div class="accordion__item__body" id="collapse-1" aria-labelledby="heading-1">
          <div class="accordion__item__body__content">
            <p>Системы управления проектами</p>
            <p>Системы управления проектами</p>
            <p>Системы управления проектами</p>
            <p>Системы управления проектами</p>
            <p>Системы управления проектами</p>
            <p>Системы управления задачами (Task Management Systems)</p>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <button
          id="heading-2"
          aria-controls="collapse-2"
          aria-expanded="false"
          aria-label="Toggle Решения по аутстаффингу"
          role="button"
          class="accordion__item__header"
        >
          Решения по аутстаффингу
        </button>
        <div class="accordion__item__body" id="collapse-2" aria-labelledby="heading-2">
          <div class="accordion__item__body__content">
            <p>Системы управления проектами</p>
            <p>Системы управления задачами (Task Management Systems)</p>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <button
          id="heading-3"
          aria-controls="collapse-3"
          aria-expanded="false"
          aria-label="Toggle Разработка ПО"
          role="button"
          class="accordion__item__header"
        >
          Разработка ПО
        </button>
        <div class="accordion__item__body" id="collapse-3" aria-labelledby="heading-3">
          <div class="accordion__item__body__content">
            <p>Системы управления проектами</p>
            <p>Системы управления задачами (Task Management Systems)</p>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <button
          id="heading-4"
          aria-controls="collapse-4"
          aria-expanded="false"
          aria-label="Toggle Услуги по кибербезопасности"
          role="button"
          class="accordion__item__header"
        >
          Услуги по кибербезопасности
        </button>
        <div class="accordion__item__body" id="collapse-4" aria-labelledby="heading-4">
          <div class="accordion__item__body__content">
            <p>Системы управления проектами</p>
            <p>Системы управления задачами (Task Management Systems)</p>
          </div>
        </div>
      </div>

      <div class="accordion__item">
        <button
          is="accordion-item-header"
          id="heading-5"
          aria-controls="collapse-5"
          aria-expanded="false"
          aria-label="Toggle Консалтинг и стратегия"
          role="button"
          class="accordion__item__header"
        >
          Консалтинг и стратегия
        </button>
        <div class="accordion__item__body" id="collapse-5" aria-labelledby="heading-5">
          <div class="accordion__item__body__content">
            <p>Системы управления проектами</p>
            <p>Системы управления задачами (Task Management Systems)</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- 
<script>
  const accordion = document.querySelector(".accordion") as HTMLElement;

  function handleAccordionClick(event: Event) {
    if (!(event.target instanceof HTMLElement)) return;

    if (event.target.classList.contains("accordion__item__header")) {
      const accordionItemHeader = event.target;
      const accordionItemBody = accordionItemHeader.nextElementSibling as HTMLElement;

      const currentlyActiveHeader = document.querySelector(".accordion__item__header.active") as HTMLElement | null;

      if (currentlyActiveHeader && currentlyActiveHeader !== accordionItemHeader) {
        currentlyActiveHeader.classList.remove("active");
        currentlyActiveHeader.setAttribute("aria-expanded", "false");

        if (currentlyActiveHeader.nextElementSibling instanceof HTMLElement) {
          currentlyActiveHeader.nextElementSibling.style.maxHeight = "0";
        }
      }

      accordionItemHeader.classList.toggle("active");
      const expandedState = accordionItemHeader.classList.contains("active");
      accordionItemHeader.setAttribute("aria-expanded", expandedState.toString());

      accordionItemBody.style.maxHeight = expandedState ? `${accordionItemBody.scrollHeight}px` : "0";
    }
  }

  accordion!.addEventListener("click", handleAccordionClick);
</script> -->
