---
import Accordion from "@shared/accordion/components";
import "./services.scss";
import { accordionData } from "./data";
---

<section class="services">
  <div class="services__container">
    <div id="services" class="services__container-title">
      <h1>Наши услуги</h1>
    </div>
    <Accordion data={accordionData} client:visible />
  </div>
</section>
