---
import Card from "@shared/Card";
import styles from "./services.module.scss";
import InfiniteMovingText from "@shared/InfiniteMovingText/InfiniteMovingText.astro";
---

<section class={styles["services"]}>
  <div class={styles["services__container"]}>
    <InfiniteMovingText headerText="Наши услуги" />
    <Card client:only="react" />
  </div>
</section>
