@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.services {
  background-color: #fff;

  &__container {
    display: flex;
    flex-direction: column;

    max-width: $desktop-width;

    padding: 0 20px;
    margin: 0 auto;
  }

  &__container-title {
    margin-top: 100px;
    margin-bottom: 50px;

    & > h1 {
      font-size: 60px;
      font-weight: 700;
      line-height: 130%; /* 78px */
      text-transform: uppercase;

      color: $black-main-color;

      margin: 0;
    }
  }
}

.accordion {
  width: 100%;

  &__item {
    padding: 30px 0;
    border-bottom: 1px solid #4c4c4c;

    &__header {
      @include flex(row, space-between, center);

      width: 100%;

      color: #4c4c4c;
      font-size: 34px;
      font-weight: 500;
      line-height: 130%; /* 44.2px */
      text-transform: uppercase;
      position: relative;
      cursor: pointer;

      &::after {
        content: url("../../assets/icons/plus.svg");
        border-radius: 15px;
        background-color: $blue-main-color;
        color: #fff;
        width: 100px;
        height: 60px;

        @include flex();
      }
    }

    &__header.active::after {
      content: url("../../assets/icons/minus.svg");
    }

    &__body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }
}
