---
import styles from "./services.module.scss";
---

<section class={styles["services"]}>
  <div class={styles["services__container"]}>
    <div class={styles["services__container-title"]}>
      <h1>Наши услуги</h1>
    </div>
  </div>
</section>
