---
import Accordion from "@shared/accordion/components";
import classes from "./services.module.scss";
import { accordionData } from "./data";
import Marquee from "@shared/marquee/components";
---

<section class={classes["services"]} id="services">
  <Marquee client:load headerTitle="Наши услуги" />
  <div class={classes["services__container"]}>
    <Accordion data={accordionData} client:visible />
  </div>
</section>
