---
import Accordion from "@shared/accordion/components";
import "./services.scss";
import { accordionData } from "./data";
import ParallaxText from "@shared/parallaxText/components/index";
---

<section class="services">
  <ParallaxText client:load headerTitle="Наши услуги" />
  <div class="services__container">
    <Accordion data={accordionData} client:visible />
  </div>
</section>
