---
import styles from "./inifiniteText.module.scss";

const { headerText } = Astro.props;

interface Props {
  headerText: string;
}
---

<div class={styles["container"]}>
  <h1 class={styles["header"]}>{headerText}</h1>
</div>
