---
import styles from "./features.module.scss";
---

<section class={styles["features"]}>
  <div class={styles["features__container"]}>
    <div class={styles["features__container-title"]}>
      <h1>Почему выбрали нас?</h1>
    </div>

    <div>
      <div class={styles["border"]}></div>
      <div class={styles["features-block"]}></div>
    </div>
  </div>
</section>
