---
import ParallaxText from "@shared/parallaxText/components";
import "./features.scss";
---

<section class="features">
  <ParallaxText client:visible headerTitle="Почему выбрали нас?" />
  <div class="features__container">
    <!-- <div class="features__container-title">
      <h1 id="features">Почему выбрали нас?</h1>
    </div> -->

    <div class="bd"></div>

    <div class="features-block">
      <ul class="features-block__list">
        <li class="features-block__list__item">
          <div class="features-block__list__item__left">
            <span>01</span>
            <p>Экспертиза</p>
          </div>

          <div class="features-block__list__item__right">
            <p>Наша команда состоит из опытных профессионалов с обширным опытом работы в различных областях ИТ</p>
          </div>
        </li>

        <li class="features-block__list__item">
          <div class="features-block__list__item__left">
            <span>02</span>
            <p>Надежность</p>
          </div>

          <div class="features-block__list__item__right">
            <p>Наша команда состоит из опытных профессионалов с обширным опытом работы в различных областях ИТ</p>
          </div>
        </li>

        <li class="features-block__list__item">
          <div class="features-block__list__item__left">
            <span>03</span>
            <p>Гибкость</p>
          </div>

          <div class="features-block__list__item__right">
            <p>Наша команда состоит из опытных профессионалов с обширным опытом работы в различных областях ИТ</p>
          </div>
        </li>

        <li class="features-block__list__item">
          <div class="features-block__list__item__left">
            <span>04</span>
            <p>Инновации</p>
          </div>

          <div class="features-block__list__item__right">
            <p>Наша команда состоит из опытных профессионалов с обширным опытом работы в различных областях ИТ</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
