---
import globe from "@assets/images/globe.webp";
import handshake from "@assets/images/handshake.webp";
import silver_brain from "@assets/images/silver_brain.webp";
import silver_shield from "@assets/images/silver_shield.webp";
import ParallaxText from "@shared/parallaxText/components";
import { Image } from "astro:assets";
import { t } from "i18next";
import classes from "./features.module.scss";
---

<section class={classes["features"]}>
  <ParallaxText client:load headerTitle="Почему выбрали нас?" />
  <div class={classes["features__container"]}>
    <div class={classes["card-container"]}>
      <div class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image class={classes["card__img"]} src={silver_brain} alt="expertise" />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </div>

      <div class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image class={classes["card__img"]} src={globe} alt="expertise" />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </div>

      <div class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image class={classes["card__img"]} src={handshake} alt="expertise" />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </div>

      <div class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image class={classes["card__img"]} src={silver_shield} alt="expertise" />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </div>
    </div>
  </div>
</section>
