@import "../../styles/utilities/variables.scss";
@import "../../styles/utilities/mixins.scss";

.features {
  position: relative;
  overflow: hidden;

  background-color: #fff;

  &__container {
    display: flex;
    flex-direction: column;

    max-width: $desktop-width;

    padding: 0 20px;
    margin: 0 auto;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  place-content: center;
  gap: 12px;

  @include media-laptop {
    grid-template-columns: repeat(2, 300px);
  }

  @include media-tablet {
    all: unset;

    display: flex;
    gap: 16px;
    overflow: scroll;
  }

  @include media-mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  background-color: #eef3f9;
  border-radius: 10px;
  padding: 34px;

  @include media-mobile {
    width: fit-content;
    padding: 24px;
  }

  &__flex {
    @include flex(column);
  }

  &__img {
    // MARK: Margin
    // margin-bottom: 44px;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;

    color: $black-main-color;

    margin-bottom: 8px;
  }

  &__description {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;

    // MARK:In order to pass ally
    // color: $grey-color;
    color: #4c4c4c;

    @include media-mobile {
      font-size: 18px;
    }
  }
}
