---
import brain from "@assets/icons/brain.svg";
import globe from "@assets/icons/globe.svg";
import handshake from "@assets/icons/handshake.svg";
import shield from "@assets/icons/shield.svg";
import ParallaxText from "@shared/parallaxText/components";
import { Image } from "astro:assets";
import { t } from "i18next";
import classes from "./features.module.scss";
---

<section class={classes["features"]} id="features">
  <ParallaxText client:load headerTitle="Почему выбрали нас?" />
  <div class={classes["features__container"]}>
    <ul class={classes["card-container"]}>
      <li class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image
            src={brain}
            alt="Brain icon representing smth"
            width={122}
            height={100}
            loading="lazy"
            decoding="async"
            class={classes["card__img"]}
          />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </li>

      <li class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image
            src={globe}
            alt="Globe icon representing smth"
            width={122}
            height={100}
            loading="lazy"
            decoding="async"
            class={classes["card__img"]}
          />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </li>

      <li class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image
            src={handshake}
            alt="Handshake icon representing smth"
            width={122}
            height={100}
            loading="lazy"
            decoding="async"
            class={classes["card__img"]}
          />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </li>

      <li class={classes["card"]}>
        <div class={classes["card__flex"]}>
          <Image
            src={shield}
            alt="Shield icon representing smth"
            width={122}
            height={100}
            loading="lazy"
            decoding="async"
            class={classes["card__img"]}
          />
          <h2 class={classes["card__title"]}>{t("features.card.title")}</h2>
          <span class={classes["card__description"]}>{t("features.card.description")}</span>
        </div>
      </li>
    </ul>
  </div>
</section>
