*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Geologica Variable", sans-serif;
}
